<nb-card>
    <nb-card-header> {{ accion }} Lote </nb-card-header>

    <nb-card-body>
        <form [formGroup]="form" *ngIf="form">
            <!-- Document type and number -->
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group  tooltip-danger">
                        <label>Nombre Lote</label>
                        <input
                                placement="bottom"
                                triggers="focus keyup keydown"
                                type="text"
                                formControlName="nombre"
                                class="form-control"
                                id="nombre"
                                placeholder="Nombre Lote"

                                />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group  tooltip-danger">
                        <label>Precio</label>
                        <input
                                placement="bottom"
                                triggers="focus keyup keydown"
                                type="text"
                                formControlName="precio"
                                class="form-control"
                                id="precio"
                                placeholder="Precio"
                                />
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-3" style="margin-top: 15px">
                            <div class="form-group">
                                <label>Fecha Inicio</label>
                                <div class="btn-group">
                                    <input
                                            class="form-control"
                                            placeholder="dd/mm/aaaa"
                                            name="dp"
                                            ngbDatepicker
                                            #d="ngbDatepicker"
                                            [(ngModel)]="fecha_inicio"
                                            [ngModelOptions]="{standalone: true}"

                                            />
                                    <button
                                            class="btn btn-primary btn-group-icon btn-group-divider"
                                            (click)="d.toggle()"
                                            >
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <ngb-timepicker [(ngModel)]="hora_inicio"
                                                [ngModelOptions]="{standalone: true}">

                                </ngb-timepicker>
                            </div>
                        </div>
                        <div class="col-sm-3" style="margin-top: 15px">
                            <div class="form-group">
                                <label>Fecha Fin</label>
                                <div class="btn-group">
                                    <input
                                            class="form-control"
                                            placeholder="dd/mm/aaaa"
                                            name="dp2"
                                            ngbDatepicker
                                            #d2="ngbDatepicker"
                                            [(ngModel)]="fecha_fin"
                                            [ngModelOptions]="{standalone: true}"

                                            />
                                    <button
                                            class="btn btn-primary btn-group-icon btn-group-divider"
                                            (click)="d2.toggle()"
                                            >
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <ngb-timepicker [(ngModel)]="hora_fin"
                                                [ngModelOptions]="{standalone: true}">

                                </ngb-timepicker>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group  tooltip-danger">
                        <label>Código YT</label>
                        <div class="input-group">
                            <input
                                    placement="bottom"
                                    triggers="focus keyup keydown"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="codigo_yt"
                                    [ngModelOptions]="{standalone: true}"
                                    placeholder="Código YT"
                                    />
                            <div class="input-group-append">
                                <button type="button"
                                        (click)="searchYT()"
                                        class="btn btn-default" title="Buscar por Código YT">
                                    <span class="fa fa-search fa-lg" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group  tooltip-danger">
                        <label>Código Arg</label>
                        <div class="input-group">
                            <input
                                    placement="bottom"
                                    triggers="focus keyup keydown"
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="codigo_arg"
                                    [ngModelOptions]="{standalone: true}"
                                    placeholder="Código Arg"
                                    />
                            <div class="input-group-append">
                                <button type="button"
                                        (click)="searchArg()"
                                        class="btn btn-default" title="Buscar por Código Arg">
                                    <span class="fa fa-search fa-lg" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-1">
                    <div class="form-check" style="margin-top:25px;">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1"
                               [checked]="pausar" (change)="pausar = !pausar">
                        <label class="form-check-label" for="exampleCheck1">Pausar</label>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 20px;">
                    <table class="table table-bordered table-hover " style="font-size: 0.8rem;">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Estampilla</th>
                            <th scope="col">Código YT</th>
                            <th scope="col">Código Arg</th>
                            <th scope="col">Estampilla</th>
                            <th scope="col">Quitar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of estampillas" >
                            <th scope="row">{{item.estampilla_id}}</th>
                            <td>{{item.codigo_yt}}</td>
                            <td>{{item.codigo_arg}}</td>
                            <td>{{item.nombre}}</td>
                            <td>
                                <button type="button" style="padding: 0.2rem 0.5rem;"
                                        (click)="quitarEstampilla(item)"
                                        class="btn btn-default">
                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="btn-group" style="margin-top: 20px">
            <button
                    *ngIf="form"
                    type="button"
                    (click)="submit()"
                    class="btn btn-primary"
                    >
                Guardar
            </button>

            <button
                    *ngIf="form"
                    type="button"
                    (click)="cancel()"
                    class="btn btn-default"
                    >
                Cancelar
            </button>
        </div>
    </nb-card-body>
</nb-card>
