<nb-card>
    <nb-card-header> {{ accion }} Lote </nb-card-header>

    <nb-card-body>
        <form [formGroup]="form" *ngIf="form">
            <!-- Document type and number -->
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group  tooltip-danger">
                        <label>Nombre Lote</label>
                        <input
                                placement="bottom"
                                triggers="focus keyup keydown"
                                type="text"
                                formControlName="nombre"
                                class="form-control"
                                id="nombre"
                                placeholder="Nombre Lote"

                                />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="form-group  tooltip-danger">
                        <label>Precio Base</label>
                        <input
                                placement="bottom"
                                triggers="focus keyup keydown"
                                type="text"
                                formControlName="precio"
                                class="form-control"
                                id="precio"
                                placeholder="Precio"
                                />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group  tooltip-danger">
                      <label>$ Inc. Oferta Rapida</label>
                      <input
                              placement="bottom"
                              triggers="focus keyup keydown"
                              type="text"
                              formControlName="precio_1"
                              class="form-control"
                              id="precio_1" />
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-sm-6" >
                            <div class="form-group">
                                <label>Fecha Inicio</label>
                                <div class="btn-group">
                                    <input
                                            class="form-control"
                                            placeholder="dd/mm/aaaa"
                                            name="dp"
                                            ngbDatepicker
                                            #d="ngbDatepicker"
                                            [(ngModel)]="fecha_inicio"
                                            [ngModelOptions]="{standalone: true}"/>
                                    <button
                                            class="btn btn-primary btn-group-icon btn-group-divider"
                                            (click)="d.toggle()">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-3">-->
                            <!--<div class="form-group">-->
                                <!--<ngb-timepicker [(ngModel)]="hora_inicio"-->
                                                <!--[ngModelOptions]="{standalone: true}">-->

                                <!--</ngb-timepicker>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="col-sm-6" style="">
                            <div class="form-group">
                                <label>Fecha Fin</label>
                                <div class="btn-group">
                                    <input
                                            class="form-control"
                                            placeholder="dd/mm/aaaa"
                                            name="dp2"
                                            ngbDatepicker
                                            #d2="ngbDatepicker"
                                            [(ngModel)]="fecha_fin"
                                            [ngModelOptions]="{standalone: true}"/>
                                    <button
                                            class="btn btn-primary btn-group-icon btn-group-divider"
                                            (click)="d2.toggle()">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-sm-3">-->
                            <!--<div class="form-group">-->
                                <!--<ngb-timepicker [(ngModel)]="hora_fin"-->
                                                <!--[ngModelOptions]="{standalone: true}">-->

                                <!--</ngb-timepicker>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-2">
                <div class="form-group">
                    <ac-upload
                            [img]="imagen"
                            (status)="loadedImage($event)" >
                    </ac-upload>
                    <h5 class="col-form-label text-heading"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        for="nombre"
                        [title]="imagen" >
                        {{ imagen}}
                    </h5>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Buscar por Cód. YT</label>
                        <div class="input-group">
                            <input
                                    class="form-control"
                                    placeholder="Buscar..."
                                    [(ngModel)]="filterDiagsYT"
                                    [ngModelOptions]="{standalone: true}"/>
                            <button
                                    class="btn btn-primary btn-group-icon btn-group-divider"
                                    (click)="addEstampillaYT(content)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label>Buscar por Cód. YT</label>
                        <input style="margin-bottom: 10px;"
                          class="form-control"
                          type="text"
                          [(ngModel)]="filterDiags"
                          [ngModelOptions]="{ standalone: true }"
                          placeholder="Buscar...">
                        <div class="" style="max-height: 160px; overflow-y: scroll; padding: 0 10px 0 10px;" >
                            <div class="truncate"
                            *ngFor="
                              let d of (filtros
                                | fusejs: filterDiags:{ keys: ['nombre'], threshold: 0.3 });
                              let i = index  "
                            (click)="addEstampilla(d, i)" >
                            {{ d.nombre }}
                          </div>
                        </div>
                    </div-->
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label>Buscar por Cód. Arg</label>
                        <div class="input-group">
                            <input
                                    class="form-control"
                                    placeholder="Buscar..."
                                    [(ngModel)]="filterDiagsArg"
                                    [ngModelOptions]="{standalone: true}"/>
                            <button
                                    class="btn btn-primary btn-group-icon btn-group-divider"
                                    (click)="addEstampillaArg(content)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group ">
                        <label>Buscar por Cód. Jalil</label>
                        <div class="input-group">
                            <input
                                    class="form-control"
                                    placeholder="Buscar..."
                                    [(ngModel)]="filterDiagsJalil"
                                    [ngModelOptions]="{standalone: true}"/>
                            <button
                                    class="btn btn-primary btn-group-icon btn-group-divider"
                                    (click)="addEstampillaJalil(content)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-12" style="margin-top: 35px;">
                    <h3>Estampillas que conforman el Lote</h3>
                </div>
                <div class="col-12" style="margin-top: 20px;">
                    <ng2-smart-table
                            [settings]="settings"
                            [source]="source"
                            (deleteConfirm)="onDeleteConfirm($event)"
                            (delete)="onDeleteConfirm($event)" >
                    </ng2-smart-table>
                </div>
            </div>
        </form>
        <div class="btn-group" style="margin-top: 20px">
            <button
                    *ngIf="form"
                    type="button"
                    (click)="submit()"
                    class="btn btn-primary" >
                Guardar
            </button>
            <button
                    type="button"
                    (click)="pausarLote()"
                    class="btn btn-success" >
                {{boton}}
            </button>
            <button
                    *ngIf="form"
                    type="button"
                    (click)="cancel()"
                    class="btn btn-default" >
                Cancelar
            </button>
        </div>
    </nb-card-body>
</nb-card>



<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Resultado de la busqueda</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="body-panel" style="max-height: 360px; overflow-y: auto;">
          <p>{{codigoTitulo}}</p>
          <nb-list>
            <nb-list-item *ngFor="let item of filtros" (click)="addItem(item)" style="cursor: pointer;">
              <div style="text-overflow: ellipsis;">Estampilla: {{item.estampilla}}</div>
              <div>Variedad: {{item.variedad}}</div>
            </nb-list-item>
          </nb-list>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
