<nb-card>
    <nb-card-header> Usuarios Lote </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Nombre Lote</label>
                    <input  class="form-control"
                            [(ngModel)]="nombre"
                            placement="bottom"
                            type="text"
                            readonly/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Precio Base</label>
                    <input  class="form-control"
                            [(ngModel)]="precio"
                            placement="bottom"
                            type="text"
                            readonly/>
                </div>
            </div>
            <div class="col-sm-2" style="">
                <div class="form-group">
                    <label>Fecha Inicio</label>
                    <input class="form-control"
                           [(ngModel)]="fecha_inicio"
                           readonly  />
                </div>
            </div>
            <div class="col-sm-2" style="">
                <div class="form-group">
                    <label>Fecha Fin</label>
                    <input class="form-control"
                           [(ngModel)]="fecha_fin"
                           readonly />
                </div>
            </div>
            <div class="col-12" style="margin-top: 20px;">
                <ng2-smart-table
                        [settings]="settings"
                        [source]="source" >
                </ng2-smart-table>
            </div>
            <div class="col-12" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-sm-6" style="">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input class="form-control"
                                   [(ngModel)]="cliente"
                                   readonly  />
                        </div>
                    </div>
                    <div class="col-sm-2" style="">
                        <div class="form-group">
                            <label>Mayor Oferta</label>
                            <input class="form-control"
                                   [(ngModel)]="mayor_oferta"
                                   readonly  />
                        </div>
                    </div>
                    <div class="col-sm-2" style="">
                        <div class="form-group">
                            <label>Fecha Oferta</label>
                            <input class="form-control"
                                   [(ngModel)]="fecha_oferta"
                                   readonly  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" style="margin-top: 20px;">
                <ng2-smart-table
                        [settings]="settings1"
                        [source]="source1" >
                </ng2-smart-table>
            </div>
        </div>

        <div class="btn-group" style="margin-top: 20px">
            <button
                    type="button"
                    (click)="cancel()"
                    class="btn btn-default">
                Volver
            </button>
        </div>
    </nb-card-body>
</nb-card>
