.label-info {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.label-left {
  margin-left: 10px;
}

h1{
  font-size: 1.4em;
  margin: 0.2em 0;
  text-transform: uppercase;
}

table, th, td {
  border: 1px solid #ac474f;
}

.thead {
  background: #ac474f;
  padding: 1em;
  color:#FFF;
  font-size: 15px;
}
