<nb-card>
  <nb-card-header style="padding: 10px 20px;">
      <div class="row">
          <div class="col-6">
              {{ accion }} Estampilla
          </div>
          <div class="col-6" style="text-align: right;">
              <!--<button   style="padding: 0.2rem 0.5rem;"-->
                      <!--type="button"-->
                      <!--(click)="showHelp(content)"-->
                      <!--class="btn btn-info" title="Ayuda en linea">-->
                  <!--<span class="fa fa-question-circle-o" aria-hidden="true"></span>-->
              <!--</button>-->
              <a (click)="showHelp(content)" title="Ayuda" style="cursor: pointer"><span class="fa fa-question-circle-o" aria-hidden="true"></span></a>
          </div>
      </div>
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="form" *ngIf="form">
      <!-- Document type and number -->
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group  tooltip-danger">
            <label>Nombre Estampilla</label>
            <input
              placement="bottom"
              triggers="focus keyup keydown"
              type="text"
              formControlName="nombre"
              class="form-control"
              id="nombre"
              [ngClass]="{
                'form-control-danger': form.controls['nombre'].invalid
              }"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label>País</label>
            <select [(ngModel)]="pais_id" [ngModelOptions]="{standalone: true}" class="form-control"  >
                <option *ngFor="let item of paises"
                        [ngValue]="item.pais_id"
                        [attr.selected]="item.pais_id==pais_id ? true : null">{{item.nombre}}</option>
            </select>
          </div>
        </div>
          <div class="col-sm-2">
              <div class="form-group  tooltip-danger">
                  <label>Año</label>
                  <input
                          placement="bottom"
                          triggers="focus keyup keydown"
                          type="text"
                          formControlName="anio"
                          class="form-control"
                          id="anio"
                          [ngClass]="{
                'form-control-danger': form.controls['anio'].invalid
              }"
                          />
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group  tooltip-danger">
            <label>Descripción</label>
            <textarea
                    formControlName="descripcion"
                    id="descripcion"
                    class="form-control"
                    [ngClass]="{
                      'form-control-danger': form.controls['descripcion'].invalid
                    }"
                    ></textarea>
          </div>
        </div>
      </div>
      <!--Fin seccion descripcion-->
      <div class="row">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2"
                  *ngFor="let img of [0, 1, 2, 3, 4]; let i = index"
                  >
              <div class="form-group">
                  <ac-upload
                          [img]="images[i] ? images[i] : undefined"
                          (status)="loadedImage($event, i)"
                          ></ac-upload>
                  <h5
                          class="col-form-label text-heading"
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                          for="nombre"
                          [title]="images[i] ? images[i] : ''"
                          >
                      {{ images[i] ? images[i] : '' }}
                  </h5>
              </div>
          </div>

        <!--<div class="col-6 col-sm-4 col-md-3 col-lg-2">-->
          <!--<div class="form-group">-->
            <!--<img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"-->
               <!--class="img-responsive img-thumbnail img-fluid" height="100" width="100">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-6 col-sm-4 col-md-3 col-lg-2">-->
          <!--<div class="form-group">-->
            <!--<img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"-->
                 <!--class="img-responsive img-thumbnail img-fluid" height="100" width="100">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-6 col-sm-4 col-md-3 col-lg-2">-->
          <!--<div class="form-group">-->
            <!--<img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"-->
                 <!--class="img-responsive img-thumbnail img-fluid" height="100" width="100">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-6 col-sm-4 col-md-3 col-lg-2">-->
          <!--<div class="form-group">-->
            <!--<img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"-->
                 <!--class="img-responsive img-thumbnail img-fluid" height="100" width="100">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-6 col-sm-4 col-md-3 col-lg-2">-->
          <!--<div class="form-group">-->
            <!--<img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"-->
                 <!--class="img-responsive img-thumbnail img-fluid" height="100" width="100">-->
          <!--</div>-->
        <!--</div>-->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" style="padding-right: 45px">
          <div class="" style="margin-top:10px; ">
            <!--<button-->
                    <!--type="button"-->
                    <!--(click)="addVariedad()"-->
                    <!--class="btn btn-primary" title="Agregar Variedad">-->
              <!--<span class="fa fa-plus fa-lg" aria-hidden="true"></span>-->
            <!--</button>-->
              <a (click)="addVariedad()" title="Agregar Variedad" style="cursor: pointer"><span class="fa fa-plus fa-lg" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
      <!--Fin seccion imagen-->
      <div *ngFor="let item of variedades" class="row">
        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
          <div class="form-group  tooltip-danger">
            <label>Código YT</label>
            <input
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.codigo_yt"
                    [ngModelOptions]="{standalone: true}"
                    />
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
          <div class="form-group  tooltip-danger">
            <label>Código Arg</label>
            <input
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.codigo_arg"
                    [ngModelOptions]="{standalone: true}"
                    />
          </div>
        </div>
          <div class="col-6 col-sm-3 col-md-3 col-lg-2">
              <div class="form-group  tooltip-danger">
                  <label>Código Jalil</label>
                  <input
                          placement="bottom"
                          triggers="focus keyup keydown"
                          type="text"
                          class="form-control"
                          [(ngModel)]="item.codigo_jalil"
                          [ngModelOptions]="{standalone: true}"
                          />
              </div>
          </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="form-group  tooltip-danger">
            <label>Variedad</label>
            <input
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.variedad"
                    [ngModelOptions]="{standalone: true}"
                    />
          </div>
        </div>
          <div class="col-6 col-sm-3 col-md-3 col-lg-2">
              <div class="form-group  tooltip-danger">
                  <label>Colores</label>
                  <select class="form-control select-price"
                          (ngModelChange)="selectChange($event, item)"
                          [ngModel]="item.color_id"
                          [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let color of colores"
                              [ngValue]="color.color_id" >{{color.nombre}}</option>
                  </select>
              </div>
          </div>

          <div class="col-6 col-sm-3 col-md-3 col-lg-2">
              <div class="form-group  tooltip-danger">
                  <label>Precio</label>
                  <input
                          placement="bottom"
                          triggers="focus keyup keydown"
                          type="text"
                          class="form-control"
                          [(ngModel)]="item.precio5"
                          [ngModelOptions]="{standalone: true}"
                          />
              </div>
          </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
          <div class="form-group  tooltip-danger">
              <label>
                  <span class="fa fa-asterisk" aria-hidden="true"></span>
              </label>
            <input
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.precio"
                    [ngModelOptions]="{standalone: true}"
                    />
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
          <div class="form-group  tooltip-danger">
              <label>
                  <span class="fa fa-dot-circle-o" aria-hidden="true"></span>
              </label>
            <input
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.precio2"
                    [ngModelOptions]="{standalone: true}"
                    />
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
          <div class="form-group  tooltip-danger">
              <label>
                  <span class="fa fa-plus-square-o" aria-hidden="true"></span>
              </label>
            <input
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    class="form-control"
                    [(ngModel)]="item.precio3"
                    [ngModelOptions]="{standalone: true}"
                    />
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
          <div class="form-group  tooltip-danger">
              <label>
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
              </label>
              <input
                      placement="bottom"
                      triggers="focus keyup keydown"
                      type="text"
                      class="form-control"
                      [(ngModel)]="item.precio4"
                      [ngModelOptions]="{standalone: true}"
                      />
          </div>
        </div>
          <div class="col-6 col-sm-3 col-md-3 col-lg-1">
              <div class="form-check" style="margin-top:25px;">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1"
                         [checked]="item.oferta" (change)="item.oferta = !item.oferta">
                  <label class="form-check-label" for="exampleCheck1">Oferta</label>
              </div>
          </div>
        <div class="col-6 col-sm-1 col-md-1 col-lg-1" style="display:flex;justify-content: center;align-items: center;">
          <div class="">
            <!--<button-->
                    <!--type="button"-->
                    <!--(click)="removeVariedad(item)"-->
                    <!--class="btn btn-danger" title="Quitar Variedad">-->
              <!--<span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>-->
            <!--</button>-->
              <a (click)="removeVariedad(item)" title="Quitar Variedad" style="cursor: pointer"><span class="fa fa-trash-o fa-lg" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="col-12">
            <hr style="display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid #ccc;
                margin: 1em 0;
                padding: 0;"/>
        </div>
      </div>
      <!--Fin del row de variedades denamico-->


    </form>
    <div class="btn-group" style="margin-top: 20px">
      <button
        *ngIf="form"
        type="button"
        (click)="submit()"
        class="btn btn-primary"
      >
        Guardar
      </button>

      <button
        *ngIf="form"
        type="button"
        (click)="cancel()"
        class="btn btn-default"
      >
        Cancelar
      </button>
    </div>
  </nb-card-body>
</nb-card>
<!--./Fin del panel-->


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Crear/Modificar Estampillas</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="body-panel" style="max-height: 360px; overflow-y: auto;">
            <p>Para poder crear o modificar una estampilla debe ingresar los siguientes campos:</p>
            <p><strong>Nombre:</strong> Representa el nombre de la estampilla. Es un campo obligatorio y acepta un maximo de 150 carácteres.</p>
            <p><strong>Pais:</strong> Listado de Paises cargados desde el mantenedor de Paises.</p>
            <p><strong>Año:</strong> Representa el año de la estampilla. Solo se admiten valores numericos.</p>
            <p><strong>Descripción:</strong> Es una descripción de la estampilla. Se muestra en la web que ve el cliente y le sirve de ayuda para saber más detalle de la estampilla.</p>
            <p><strong>Fotos:</strong> Se pueden adjuntar hasta un máximo de 5 imagenes.</p>
            <p><strong>Nro YT:</strong> Código YT para identificar la estampilla.</p>
            <p><strong>Nro Arg:</strong> Código Arg para identificar la estampilla.</p>
            <p><strong>Variedad:</strong> Nombre de la variedad de una estampilla, ya que una estampilla puede tener distintas variedades.</p>
            <p><strong>Precios:</strong> Son los distintos precios que puede tener una estampilla.</p>
            <p>Ya que una estampilla puede tener N variedades, la carga de las variedades es dinamica. Solo basta con darle click al botón azul "Agregar Variedad".
                En caso de querer quitar una variedad, solo basta con presionar el botón que dice "Quitar Variedad".Luego se presiona "Guardar" y la nueva estampilla
                aparacerá en la grilla de estampillas.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
</ng-template>
<!--./Fin de la ayuda modal-->