<nb-card>
  <nb-card-header> {{ accion }} Estampilla </nb-card-header>

  <nb-card-body>
    <form [formGroup]="form" *ngIf="form">
      <!-- Document type and number -->
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group  tooltip-danger">
            <label>Titulo</label>
            <input
              [tooltip]="formErrors['titulo']"
              placement="bottom"
              triggers="focus keyup keydown"
              type="text"
              formControlName="titulo"
              class="form-control"
              id="titulo"
              placeholder="Titulo"
              [ngClass]="{
                'form-control-danger': form.controls['titulo'].invalid
              }"
            />
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group  tooltip-danger">
            <label>País</label>
            <select class="form-control" formControlName="pais_id" id="pais_id">
              <option value="0" selected>Seleccione Pais</option>
              <option value="1">Pais 1</option>
              <option value="2">Pais 2</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group  tooltip-danger">
            <label>Descripción</label>
            <textarea
                    [tooltip]="formErrors['descripcion']"
                    formControlName="descripcion"
                    id="descripcion"
                    class="form-control"
                    [ngClass]="{
                      'form-control-danger': form.controls['descripcion'].invalid
                    }"
                    ></textarea>
          </div>
        </div>
      </div>
      <!--Fin seccion descripcion-->
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"
               class="img-responsive img-thumbnail img-fluid" height="100" width="100">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"
                 class="img-responsive img-thumbnail img-fluid" height="100" width="100">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"
                 class="img-responsive img-thumbnail img-fluid" height="100" width="100">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"
                 class="img-responsive img-thumbnail img-fluid" height="100" width="100">
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <img src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647709-image-512.png"
                 class="img-responsive img-thumbnail img-fluid" height="100" width="100">
          </div>
        </div>
      </div>
      <!--Fin seccion imagen-->
      <div class="row">
        <div class="col-sm-1">
          <div class="form-group  tooltip-danger">
            <label>Nro YT</label>
            <input
              [tooltip]="formErrors['catalogo_codigo']"
              placement="bottom"
              triggers="focus keyup keydown"
              type="text"
              formControlName="catalogo_codigo"
              class="form-control"
              id="catalogo_codigo"
              placeholder="Nro YT"
              [ngClass]="{
                'form-control-danger': form.controls['catalogo_codigo'].invalid
              }"
            />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group  tooltip-danger">
            <label>Nro Arg</label>
            <input
              [tooltip]="formErrors['catalogo_id']"
              placement="bottom"
              triggers="focus keyup keydown"
              type="text"
              formControlName="catalogo_id"
              class="form-control"
              id="catalogo_id"
              placeholder="Nro Arg"
              [ngClass]="{
                'form-control-danger': form.controls['catalogo_id'].invalid
              }"
            />
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group  tooltip-danger">
            <label>Nombre</label>
            <input
              [tooltip]="formErrors['nombre']"
              placement="bottom"
              triggers="focus keyup keydown"
              type="text"
              formControlName="nombre"
              class="form-control"
              id="nombre"
              placeholder="Nombre"
              [ngClass]="{
                'form-control-danger': form.controls['nombre'].invalid
              }"
            />
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-group  tooltip-danger">
            <label>*</label>
            <input
                    [tooltip]="formErrors['precio']"
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    formControlName="precio"
                    class="form-control"
                    id="precio"
                    [ngClass]="{
                'form-control-danger': form.controls['precio'].invalid
              }"
              />
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-group  tooltip-danger">
            <label>$</label>
            <input
                    [tooltip]="formErrors['precio2']"
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    formControlName="precio2"
                    class="form-control"
                    id="precio2"
                    [ngClass]="{
                'form-control-danger': form.controls['precio2'].invalid
              }"
              />
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-group  tooltip-danger">
            <label>#</label>
            <input
                    [tooltip]="formErrors['precio3']"
                    placement="bottom"
                    triggers="focus keyup keydown"
                    type="text"
                    formControlName="precio3"
                    class="form-control"
                    id="precio3"
                    [ngClass]="{
                'form-control-danger': form.controls['precio3'].invalid
              }"
                    />
          </div>
        </div>
        <div class="col-sm-1">
          <div class="" style="margin-top:27px; ">
            <button
                    type="button"
                    (click)="submit()"
                    class="btn btn-default" >
              <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>

    </form>
    <div class="btn-group">
      <button
        *ngIf="form"
        type="button"
        [disabled]="!form.valid"
        (click)="submit()"
        class="btn btn-primary"
      >
        Guardar
      </button>

      <button
        *ngIf="form"
        type="button"
        (click)="submit()"
        class="btn btn-danger"
      >
        Cancelar
      </button>
    </div>
  </nb-card-body>
</nb-card>
